@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
font-family: 'Montserrat', sans-serif;
}

p {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #EF6C00;
}

header h1 {
  font-size: 3.6rem;
  font-weight: 600;
  background: linear-gradient(#EF6C00, #DB6300);
  position: relative;
  padding-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .container::before {
  content: '';
  position: absolute;
  background: #CFCFCF;
  width: 40%;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.container {
  display: block;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.relative {
  position: relative;
}

input[type="text"] {
  width: 217px;
  padding: 14px;
  border: 2px solid #CFCFCF;
  border-radius: 4px;
  margin-right: 11px;
}

input:focus {
  outline: none !important;
  border: 2px solid #EF6C00;
}

::placeholder {
  color: #CFCFCF;
}

button {
  cursor: pointer;
  width: 70px;
  height: 42px;
  background: linear-gradient(#EF6C00, #DB6300);
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.guess-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-again {
  background: linear-gradient(#434854, #9E9E9E);
  width: 140px;
  height: 42px;
  padding-left: 28px;
  position: absolute;
  left: 50%;
}

.play-again::before {
  content: '';
  background: url(../../assets/icon/try-again.svg) center no-repeat;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 7px;
  top: 9px;
}

/* ======================================
  Numero de 7 segmentos
====================================== */
   
.display-container.display-size-12 {
  margin-bottom: 24px;
}
   
.display-container {
  position: relative;
  margin-right: 11px;
  float: left;
}
  
.display-container div.segment-x,
.display-container div.segment-y {
  position: absolute;
}
  
.display-container span.segment-border {
  display: block;
  position: absolute;
}
  
  .display-container.display-size-12 {
    width: 97px;
    height: 177px;
  }
  
  .display-container.display-size-12 .segment-x {
    width: 64px;
    left: 10px;
    border-bottom: 7.5px solid #000;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
  }
  
  .display-container.display-size-12 .segment-x .segment-border {
    top: 7px;
    left: -7.5px;
    right: -7.5px;
    border-top: 7.5px solid #000;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
  }
  
  .display-container.display-size-12 .segment-y {
    height: 64px;
    width: 0;
    border-right: 7.5px solid #000;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
  }
  
  .display-container.display-size-12 .segment-y .segment-border {
    position: relative;
    left: 7px;
    height: 64px;
    margin-top: -7.5px;
    border-left: 7.5px solid #000;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
  }

  .display-container.display-size-12.red .segment-y .segment-border {
    border-left-color: #CC3300;
  }

  .display-container.display-size-12.red .segment-x .segment-border {
    border-top-color: #CC3300;
  }

  .display-container.display-size-12.red .segment-y {
    border-right-color: #CC3300;
  }

  .display-container.display-size-12.red .segment-x {
    border-bottom-color: #CC3300;
  }
  
  .display-container.display-size-12 .segment-a {
    top: 0;
  }
  
  .display-container.display-size-12 .segment-b {
    top: 9px;
    left: 83px;
  }
  
  .display-container.display-size-12 .segment-c {
    top: 90px;
    left: 83px;
  }
  
  .display-container.display-size-12 .segment-d {
    top: 162px;
  }
  
  .display-container.display-size-12 .segment-e {
    top: 90px;
    left: 0px;
  }
  
  .display-container.display-size-12 .segment-f {
    top: 9px;
    left: 0px;
  }
  
  .display-container.display-size-12 .segment-g {
    top: 81px;
  }
  
  .display-no-1 .segment-a,
  .display-no-1 .segment-d,
  .display-no-1 .segment-e,
  .display-no-1 .segment-f,
  .display-no-1 .segment-g {
    /*display: none;*/
    opacity: 0.1;
    filter: alpha(opacity=10);
  }
  
  .display-no-2 .segment-c,
  .display-no-2 .segment-f {
    /*display: none;*/
    opacity: 0.1;
  }
  
  .display-no-3 .segment-e,
  .display-no-3 .segment-f {
    /*display: none;*/
    opacity: 0.1;
  }
  
  .display-no-4 .segment-a,
  .display-no-4 .segment-d,
  .display-no-4 .segment-e {
    /*display: none;*/
    opacity: 0.1;
  }
  
  .display-no-5 .segment-b,
  .display-no-5 .segment-e {
    /*display: none;*/
    opacity: 0.1;
  }
  
  .display-no-6 .segment-b {
    /*display: none;*/
    opacity: 0.1;
  }
  
  .display-no-7 .segment-d,
  .display-no-7 .segment-e,
  .display-no-7 .segment-f,
  .display-no-7 .segment-g {
    /*display: none;*/
    opacity: 0.1;
  }
  
  .display-no-8 {}
  
  .display-no-9 .segment-e {
    /*display: none;*/
    opacity: 0.1;
  }
  
  .display-no-0 .segment-g {
    /*display: none;*/
    opacity: 0.1;
  }
  
  #vertical-center {
    position: absolute;
    height: 0;
    top: 50%;
    left: 50%
  }

  .container.number-container {
    min-height: 177px;
    margin-top: 100px;
    margin-bottom: 140px;
  }
  
  #number-box {
    height: 178px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .red-text {
    color: #CC3300;
  }

  .mt-30 {
    margin-top: 30px !important;
  }

  .disable {
    display: none;
  }